<nav class="navbar bg-body-tertiary">
    <div class="container-md justify-content-center">
        <ul class="navbar-nav d-flex flex-row overflow-x-auto">
            <li class="nav-item px-3">
                <a class="nav-link text-center" aria-current="page" href="#">
                    <span class="d-block">Posiciones</span>
                    <span class="d-block fst-italic small border-top">Sogui Kisul</span>
                </a>
            </li>

            <li class="nav-item px-3">
                <a class="nav-link text-center" aria-current="page" href="#">
                    <span class="d-block">Defensa</span>
                    <span class="d-block fst-italic small border-top">Maki</span>
                </a>
            </li>

            <li class="nav-item px-3">
                <a class="nav-link text-center" aria-current="page" href="#">
                    <span class="d-block">Ataque</span>
                    <span class="d-block fst-italic small border-top">Gong Kiok</span>
                </a>
            </li>

            <li class="nav-item px-3">
                <a class="nav-link text-center" aria-current="page" href="#">
                    <span class="d-block">Mov. Especiales</span>
                    <span class="d-block fst-italic small border-top">Pum</span>
                </a>
            </li>
        </ul>
    </div>
</nav>