.white-belt {
    background-color: white;
    border: 1px solid #c7c7c7;
}

.yellow-belt {
    background-color: yellow;
    border: 1px solid #c7c7c7;
}

.orange-belt {
    background-color: rgb(253, 132, 33);
    border: 1px solid #c7c7c7;
}

.green-belt {
    background-color: green;
    border: 1px solid #c7c7c7;
}

.blue-belt {
    background-color: rgb(0, 0, 209);
    border: 1px solid #c7c7c7;
}

.red-belt {
    background-color: rgb(218, 11, 11);
    border: 1px solid #c7c7c7;
}

.black-belt {
    background-color: black;
    border: 1px solid #c7c7c7;
}

.superior-belt {
    background-color: black;
    border: 1px solid #c7c7c7;
}

.btn-technique {
    background-color: greenyellow;
    width: 25px;
    height: 25px;
}

.marked-class {
    background-color: green;
    color: white;
  }
  
  .unmarked-class {
    background-color: red;
    color: white;
  }