.white-belt {
    color: white;
}
.yellow-belt {
    color: yellow;
    
}
.orange-belt {
    color: rgb(253, 132, 33);
    
}
.green-belt {
    color: green;
    
}
.blue-belt {
    color: rgb(0, 0, 209);
    
}
.red-belt {
    color: rgb(218, 11, 11);
    
}
.black-belt {
    color: black;
    
}
.superior-belt {
    color: black;
    
}