<div class="border rounded w-100 primary-bg">
    <div class="p-4">
        <h3>Filtros</h3>
        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="everythingInput" value="everything" checked>
                <label class="form-check-label" for="everythingInput">
                    Todas
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="whiteInput" value="whiteBelt">
                <label class="form-check-label" for="whiteInput">
                    Cinturón Blanco
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="yellowInput" value="yellowBelt">
                <label class="form-check-label" for="yellowInput">
                    Cinturón Amarillo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="orangeInput" value="orangeBelt">
                <label class="form-check-label" for="orangeInput">
                    Cinturón Naranja
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="greenInput" value="greenBelt">
                <label class="form-check-label" for="greenInput">
                    Cinturón Verde
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="blueInput" value="blueBelt">
                <label class="form-check-label" for="blueInput">
                    Cinturón Azul
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="redInput" value="redBelt">
                <label class="form-check-label" for="redInput">
                    Cinturón Rojo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="belt" id="blackInput" value="blackBelt">
                <label class="form-check-label" for="blackInput">
                    Cinturón Negro
                </label>
            </div>
    

        </div>
    </div>
</div>