<div>
    <div class="row m-0">
        <app-navbar  (changeTechniques)="TechniqueHandler($event)" class="p-0"></app-navbar>
    </div>
    <div class="container-md pt-2 pb-5 border-start border-end">
        <div class="row">

            <app-search class="row py-4 justify-content-center justify-content-lg-start" (searchTechnique)="OnSearchTechniques($event)"></app-search>
            <div class="row">

                <div class="col-12 col-lg-9 d-flex flex-wrap justify-content-center gap-5">
                    <div *ngFor="let technique of fiteredTechniqueList" class="p-0 m-0">
                        <app-card [technique]="technique"></app-card>
                    </div>
                </div>

                <app-sidenav class="col-3 d-none d-lg-block"></app-sidenav>

            </div>

        </div>
    </div>
</div>
