<div>
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="container-md my-5">
        <div class="row">
            <app-search class="row"></app-search>
            <div class="row bg-primary">
                <div class="col-10 d-flex flex-wrap justify-content-center">
                    <app-card>
                    </app-card>
                    <app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card><app-card>
                    </app-card>
                </div>
                
                <app-sidenav class="col-2 d-none d-md-block">     
                </app-sidenav>
    
            </div>
            
        </div>
    </div>
    
    
</div>
